* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
}

.header {
    background-image: url('../assets/banner.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 794px;
}

.nav_container {
    max-width: 1326px;
    margin: 0 auto;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 30px;
    font-weight: 800;
    text-decoration: none;
    background: linear-gradient(180deg,
            rgba(3, 46, 21, 0.6) 0%,
            rgba(1, 102, 48, 0.6) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 32px;
}

.nav-list a {
    font-weight: 400;
    font-size: 16.18px;
    text-decoration: none;
    line-height: 150%;
    color: #162456;
}

.nav_actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart-icon {
    font-size: 24px;
    color: #032E15;
}

.button {
    width: 150px;
    height: 46px;
    background: linear-gradient(180deg, #032E15 0%, #016630 100%);
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    border-radius: 505px;
    padding: 16px 28px;
    border: none;
    justify-content: center;
    display: flex;
    letter-spacing: 0.02em;
    align-items: center;
    cursor: pointer;
}

.dropdown {
    position: relative;
}

.dropdown>a {
    display: flex;
    align-items: center;
    gap: 6px;
}

.arrow {
    font-size: 16px;
    margin-top: 1px;
    transition: transform 0.3s ease;
}

.dropdown:hover .arrow {
    transform: rotate(180deg);
}


.banner_content {
    margin-top: 102px;
    margin-left: 100px;
}

.batch_Title {
    width: 370px;
    height: 40px;
    border-radius: 100px;
    padding: 8px 16px;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 300;
    background: linear-gradient(180deg, rgba(3, 46, 21, 0.6) 0%, rgba(1, 102, 48, 0.6) 100%);
}

.batch_Title svg path,
.footer svg path {
    fill: currentColor !important;
}

.title_text {
    margin-top: 24px;
    font-size: 56px;
    font-weight: 700;
    color: #032E15;
    line-height: 120%;
    width: 588px;
    letter-spacing: -1.33px;
    margin-bottom: 40px;
}

.company_item {
    width: 580px;
    height: 86px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    gap: 24px;
    margin-bottom: 40px;
}

.company_title {
    font-weight: 800;
    font-size: 72px;
    background: linear-gradient(180deg, rgba(3, 46, 21, 0.6) 0%, rgba(1, 102, 48, 0.6) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.company_description {
    font-weight: 300;
    font-size: 22px;
    color: #0D542B;
}

.brands_section {
    padding: 76px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 20px;
}

.product_grid {
    position: relative;
    margin-left: 10px;
}

.main_img {
    width: 610px;
    height: 672px;
    border-radius: 16px;
    object-fit: cover;
}

.thumbs_container {
    width: 610px;
    height: 130px;
    display: flex;
    gap: 16px;
    flex-direction: row;
    margin-top: 16px;
    overflow-x: auto;
}

.thumb {
    width: 136px;
    height: 124px;
    border-radius: 16px;
    cursor: pointer;
    object-fit: cover;
}

.dots_container {
    width: 610px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.dot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 2px solid #032E15;
    cursor: pointer;
}

.dot.active {
    background-color: #032E15;
    transform: scale(1.2);
}

.product_grid .arrow {
    position: absolute;
    color: #032E15;
    border: #032E15 1px solid;
    background-color: transparent;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.product_grid .arrow.left {
    left: 12px;
}

.product_grid .arrow.right {
    right: 12px;
}

.controller {
    position: absolute;
    top: 64%;
    display: flex;
    flex-direction: row;
    margin-inline-end: 20px;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 3;
    pointer-events: auto;
}

.thumbs_two {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.brand_info {

    width: 610px;
}

.brand_Title {
    font-weight: 600;
    font-size: 36px;
    color: #032E15;
    margin-bottom: 8px;
}

.reviews {
    font-weight: 300;
    font-size: 13px;
    color: #032E15;
}

.rating {
    position: relative;
    font-size: 18px;
    color: #d1d5db;
    display: inline-block;
}

.rating::before {
    content: "★★★★★";
}

.rating-fill {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    color: #00C950;
}

.rating-fill::before {
    content: "★★★★★";
}

.rating-text {
    margin-left: 6px;
    font-weight: 600;
}

.drand_description {
    margin-top: 20px;
    font-weight: 300;
    font-size: 16px;
    text-align: justify;
    color: #032E15;
}

.subscriptions {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.Most_Popular {
    margin-top: 30px;
    width: 610px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20.23px;
    color: #fff;
    border-top-left-radius: 6.07px;
    border-top-right-radius: 6.07px;
    border: 1px solid #B8B8B8;
    background: linear-gradient(270deg, #032E15 0%, #008236 51.92%, #00C950 100%);
}

.subscription {
    align-items: center;
    width: 610px;
    padding: 16px 20px;
    border-radius: 6px;
    border: 1px solid #B8B8B8;
}

.subscription-header {
    display: inline-flex;
    align-items: center;
    width: 94%;
    justify-content: space-between;
    position: relative;
    padding-left: 0;
    cursor: pointer;
}

.subscription input {
    width: 17px;
    height: 17px;
    border-width: 0.81px;
    accent-color: #016630;
    cursor: pointer;
    margin-right: 8px;
    display: inline-flex;
}

.accordion-title {
    display: inline-block;
    font-weight: 300;
    font-size: 20px;
    color: #032E15;
    cursor: pointer;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    margin-left: 18px;
    transition: max-height 0.3s ease;
    padding: 0 15px;
}

.accordion-content p {
    margin: 8px 0;
}

.subscription input:checked~.accordion-content {
    max-height: 882px;
}

.price_tag {
    font-weight: 700;
    font-size: 20px;
    color: #032E15;
}

.price_tag span {
    font-weight: 300;
    font-size: 20px;
    color: #B8B8B8;
    text-decoration: line-through;
    margin-left: 10px;
}

.border {
    width: 525px;
    border-top: 1px solid #B8B8B8;
    margin-top: 14px;
}

.fragrance_title {
    font-weight: 300;
    font-size: 16.18px;
    text-align: justify;
    color: #032E15;
    margin: 0 0 8px 0;
}

.fragrance_item {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 127px;
    height: 152px;
}

.top_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.radio_row {
    display: flex;
    align-items: center;
    margin-top: 2px;
}

.best_seller {
    width: 60px;
    height: 12px;
    padding: 5.58px 4.95px;
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #032E15 0%, #016630 100%);
    font-weight: 700;
    font-size: 7.37px;
    color: #F9F9F9;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.seller {
    margin-top: 12.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fragrance_item input {
    display: inline-flex;
    width: 11px;
    height: 11px;
    border-width: 0.81px;
    accent-color: #016630;
    margin-right: 7px;
    cursor: pointer;
}

.List_Text {
    display: inline-block;
    font-weight: 300;
    font-size: 13px;
    background: linear-gradient(180deg, rgba(3, 46, 21, 0.6) 0%, rgba(1, 102, 48, 0.6) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fragrance_img {
    width: 54px;
    height: 94px;
    object-fit: cover;
    margin: 12px auto 16px;
    display: block;
}

.fragrance_container {
    display: flex;
    width: 404px;
    height: 200px;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 27px;
}

.included_container {
    display: flex;
    width: 256px;
    height: 94px;
    margin-top: 12px;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.included_item {
    width: 54px;
    display: inline-block;
}

.included_img {
    width: 100%;
    height: 94px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.every_days {
    display: inline-flex;
    flex-direction: column;
    width: 166.14px;
    height: 219.53px;
    border-radius: 6.07px;
    border: #919798 1px solid;
    padding: 8px;
    margin: 4px;
}

.every_text {
    font-weight: 300;
    font-size: 16.18px;
    text-align: justify;
    color: #6F7577;
}

.every_img {
    display: block;
    margin: 12px auto 0;
    width: 84.07px;
    height: 144.00px;
    object-fit: cover;
}

.one_time {
    display: inline-flex;
    flex-direction: column;
    width: 328px;
    height: 219.53px;
    border-radius: 6.07px;
    border: #919798 1px solid;
    padding: 8px;
    margin: 4px;
}

.one_time_img_container {
    display: flex;
    height: 144px;
    justify-content: center;
    align-items: center;
}

.bold_text {
    font-weight: 700;
    font-size: 16.18px;
    text-align: justify;
    color: #032E15;
}

.popular_description_container {
    margin-top: 23px;
}

.description_item span {
    vertical-align: middle;
    margin-right: 3.5px;
}

.description_text {
    font-size: 14px;
    font-weight: 300;
    text-align: justify;
    color: #032E15;
    margin-top: 8px;
}

.description_bold {
    font-weight: 700;
    font-size: 14px;
    text-align: justify;
    color: #032E15;
    margin-top: 8px;
}

.subscribe_button {
    width: 610px;
    height: 52px;
    margin-top: 20px;
    font-size: 18.2px;

}

.collection_img {
    width: 590px;
    height: 711px;
    border-radius: 30px;
    object-fit: cover;
}

.collection_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 102px;
}

.collection_grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: center;

}

.collection_title {
    font-weight: 600;
    font-size: 36px;
    color: #032E15;
}

.collection_container {
    display: flex;
    flex-direction: column;
    width: 590px;
    min-height: 505px;
    margin-top: 20px;
    gap: 15px;

}

.collection_item .icon-minus {
    display: none;
}

.collection_item input:checked~.subscription-header .icon-plus {
    display: none;
}

.collection_item input:checked~.subscription-header .icon-minus {
    display: inline-block;
}

.collection_item {
    width: 590px;
    min-height: 72px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 8px;
    padding: 12px 24px;
    border: 1px solid #B8B8B8;
    position: relative;
    background: #fff;
    justify-content: center;
}

.collection_item input {
    position: absolute;
    left: 16px;
    top: 16px;
    width: 18px;
    height: 18px;
    opacity: 0;
    cursor: pointer;
}

.collection-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.collection_item .collection-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.collection_item input:checked~.collection-content {
    max-height: 200px;
}

.collection_item.active .icon-plus {
    display: none;
}

.collection_item.active .icon-minus {
    display: inline-block;
}

.collection_item .icon-plus,
.collection_item .icon-minus {
    transition: transform 0.15s ease, opacity 0.15s ease;
}

.Popular_description {
    font-weight: 300;
    font-size: 16px;
    color: #666666;
    margin-top: 14px;
    margin-bottom: 14px;
}

.bold_Collection {
    font-weight: 700;
    font-size: 20px;
    color: #032E15;
    cursor: pointer;
    margin-top: 8px;
}

.percentage_Container {
    width: 100%;
    min-height: 201px;
    background: linear-gradient(180deg, #032E15 0%, #016630 100%);
    margin-top: 15px;
    margin-bottom: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
}

.percentage_content {
    display: inline-flex;
    width: 1119px;
    height: 86px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.percentage_detail {
    width: 215px;
}

.percentage_value {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.percentage_description {
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
}

.GTG_choice {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 862px;
    gap: 46px;
    overflow: auto;
}

.line_text {
    font-weight: 300;
    font-size: 40px;
    align-items: center;
    text-align: center;
    color: #032E15;
}

.GTG_title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #032E15;
}

.table_img {
    width: 88px;
    height: 88px;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
}

.hover-table {
    border-collapse: collapse;
    width: auto;
    text-align: left;
    max-width: 100%;
}

.hover-table th {
    padding: 38px 54px;
    position: relative;
}

.hover-table th:first-child {
    padding: 20px 24px;
    position: relative;
}

.hover-table th,
.hover-table td {
    border-bottom: 1px solid #666666;
}

.hover-table td {
    padding: 20px 24px;
}

.hover-table th:not(.table_padding) p {
    margin-top: 12px;
}

.choice_grid {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.gtg_text {
    font-weight: 300;
    font-size: 20px;
    color: #000;
    margin-bottom: 4px;
    text-align: center;
}

.gtg_small_text {
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    color: #666666;
}

.GTG_column_title {
    font-weight: 700;
    font-size: 16px;
    color: #322D2D;
    padding-left: 0;
    text-align: left;
}

.hover-table td:first-child {
    font-weight: 700;
    width: 300px;
    font-weight: 700;
    font-size: 16px;
    color: #666666;
}

.hover-table th:nth-child(2),
.hover-table td:nth-child(2) {
    background-color: #e6f0ff;
    border-bottom: 1px dashed #666666;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: #666666;
}

.hover-table td:nth-child(3),
.hover-table td:nth-child(4),
.hover-table td:nth-child(5) {
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: #666666;
}

.table-icon {
    font-size: 27px;
    display: block;
    margin: 0 auto;
}

.icon-yes {
    color: #032E15;
}

.icon-no {
    color: #322D2D;
}

.hover-table th:nth-child(2) {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.hover-table tbody tr:last-child td:nth-child(2) {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.explore_button {
    width: 194px;
    height: 56px;
    border-radius: 505.64px;
    border-bottom-width: 1.01px;
    padding: 12px 24px;
    background: linear-gradient(180deg, #032E15 0%, #016630 100%);
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 120px;
}

.explore_button_container {
    display: flex;
    justify-content: center;
    margin-top: 47px;
}

.footer {
    width: 100%;
    min-height: 391px;
    background: #032E15;
    clear: both;
    position: relative;
    padding: 81px;
}

.footer_text {
    font-weight: 700;
    font-size: 42.32px;
    color: #FFFFFF;
}

.navbar_footer {
    display: flex;
    gap: 80px;
}

.nav-list-footer {
    width: 171px;
    height: 37px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.nav-list-footer a {
    font-weight: 300;
    font-size: 14.16px;
    text-decoration: none;
    line-height: 200%;
    color: #FFFFFF;
}

.nav-list-footer .footer_icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: #ffffff;
    font-size: 20px;
}

.nav-list-footer i {
    color: inherit;
    font-size: inherit;
    margin-right: 20.4px;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newsletter_footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
}

.footer_con {
    font-weight: 700;
    font-size: 16.18px;
    text-align: justify;
    color: #ffffff;
    margin-bottom: 24px;
}

.newsletter_input {
    width: 365px;
    height: 48px;
    gap: 8.09px;
    border: 1.01px solid #ffffff;
    padding: 12.14px;
    font-weight: 300;
    font-size: 16.18px;
    color: #ffffff;
    background-color: transparent;
    margin-right:12px ;
}

input::placeholder {
  color: #fff;
  font-weight: 300;
  font-size: 16.18px;
}

.subscribe_button_footer {
    width: 130px;
    height: 48px;
    padding:12.14px 24.28px;
    background: #653B09;
    font-weight: 700;
    font-size: 16.18px;
    color: #ffffff;
    border:none;
    cursor: pointer;
}

.footer_newsletter{
    width: 510px;
    height: 36px;
    align-items: center;
    margin-top: 16px;
    font-weight: 300;
    font-size: 12.14px;
    line-height: 150%;
    color: #FFFFFF;
}

.footer_newsletter a{
    text-decoration: underline;
    color: #FFFFFF;
}